* {
    font-family: 'JetBrains Mono ExtraBold', sans-serif;
}

#window{
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(30, 30, 60, 0.8);
}

#inner-box{
    margin: 30px;
    color: white;
    border-radius: 10px;
}
#input {
    margin: 30px;
    border-radius: 10px;
    color: black;
}
#entry:selected{
    background-color: rgba(60, 60, 60, 1);
}

#entry{
    padding: 10px;
    font-size: 16px;
}
